# AZURE
AZURE_API_VERSION=2024-05-01-preview
AZURE_API_KEY=your-azure-api-key-here
AZURE_ENDPOINT=https://your-azure-endpoint-url/models

# FPT CLOUD
FPT_CLOUD_API_KEY=your-fpt-cloud-api-key-here
FPT_CLOUD_BASE_URL=https://your-fpt-cloud-base-url
